Repository racket/typed-racket, pull requests merged in 2018-05, with the labels that each got.

#705 Property for forgetting type information.
  rfcs/0000-ignore-type-info.md
  typed-racket-lib/typed-racket/private/syntax-properties.rkt
  typed-racket-lib/typed-racket/typecheck/tc-expr-unit.rkt
Labels: RFC

#647 use tc-res when checking args are of correct type
  typed-racket-lib/typed-racket/typecheck/check-below.rkt
  typed-racket-lib/typed-racket/typecheck/tc-app-helper.rkt
  typed-racket-test/succeed/refinements-quicksort.rkt
Labels: reviewed

#623 initial #:rest-star support
  typed-racket-doc/typed-racket/scribblings/reference/types.scrbl
  typed-racket-lib/typed-racket/base-env/base-env.rkt
  typed-racket-lib/typed-racket/env/init-envs.rkt
  typed-racket-lib/typed-racket/infer/infer-unit.rkt
  typed-racket-lib/typed-racket/infer/promote-demote.rkt
  typed-racket-lib/typed-racket/infer/signatures.rkt
  typed-racket-lib/typed-racket/private/parse-type.rkt
  typed-racket-lib/typed-racket/private/type-contract.rkt
  typed-racket-lib/typed-racket/rep/type-rep.rkt
  typed-racket-lib/typed-racket/typecheck/check-subforms-unit.rkt
  typed-racket-lib/typed-racket/typecheck/possible-domains.rkt
  typed-racket-lib/typed-racket/typecheck/tc-app-helper.rkt
  typed-racket-lib/typed-racket/typecheck/tc-app/tc-app-main.rkt
  typed-racket-lib/typed-racket/typecheck/tc-apply.rkt
  typed-racket-lib/typed-racket/typecheck/tc-funapp.rkt
  typed-racket-lib/typed-racket/typecheck/tc-lambda-unit.rkt
  typed-racket-lib/typed-racket/types/base-abbrev.rkt
  typed-racket-lib/typed-racket/types/kw-types.rkt
  typed-racket-lib/typed-racket/types/printer.rkt
  typed-racket-lib/typed-racket/types/prop-ops.rkt
  typed-racket-lib/typed-racket/types/substitute.rkt
  typed-racket-lib/typed-racket/types/subtype.rkt
  typed-racket-lib/typed-racket/types/utils.rkt
  typed-racket-lib/typed-racket/utils/utils.rkt
  typed-racket-test/succeed/apply-dots.rkt
  typed-racket-test/succeed/rest-star-hash-examples.rkt
  typed-racket-test/unit-tests/contract-tests.rkt
  typed-racket-test/unit-tests/parse-type-tests.rkt
  typed-racket-test/unit-tests/subtype-tests.rkt
  typed-racket-test/unit-tests/type-printer-tests.rkt
  typed-racket-test/unit-tests/typecheck-tests.rkt
Labels: reviewed

#699 prefab fix RFC
  rfcs/text/0001-prefab-structs.md
Labels: RFC, in-progress
